:root {
    --header-bg-color1: #333333;
    --header-bg-color: #722ed1;
    --text-light: #c6c6c6;
    --text-darck: #494949;
    --border-first: #666464;
    --hearder-icon-color: #ffffff;
    --icon-hover: #ffec3d;
    --color-purpal-dark: #391085;
    --navbar-color-text: #828282;
    --border-color: #d8d8d8;
    --font-color-genaral: #868686;
}